.name {
    float: left;
    font-family: 'Courier New', Courier, monospace;
}
.navbarlinks {
    float: right;
}
#jumboBack {
    background-image: url("assets/images/vintage-wallpaper.png");
    height: auto;
}
#jumboInfo {
    background-color: white;
}